main{
    width: 1440px;
    margin:0 auto;
}
header{
    height: 800px;
    background-color: #4A2B33;
}
nav{
    display:flex ;
    justify-content: space-between;
    color:#C67A88;
    align-items: center;
}
.menu li,.social li{
    list-style-type: none;
    display: inline-block;
    margin-left: 20px;
}
.menu li a,.social li a{
    text-decoration: none;
    display: block;
    color:#C67A88;
}
.social{
    margin-right: 50px;
}
.logo{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 5px;
    font-size: 24px;

  }
  .banner{
    width: 1320px;
    height: 650px;
    margin: 40px auto;
    
  }
  #about{
    text-align: center;
    padding: 270px ;
  }
  #about p{
    font-size: 32px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
#items{
    background-color: #AA9E54;
    color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 470px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
}
#gallery{
    margin: 100px 50px;
    display: grid;
    grid-template-columns: 2;
     grid-template-rows: 2;
    grid-gap:30px;
}
.img3{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-column-end: 3;
    grid-row-end:3;
}
#gallery img{
    width: 100%;
    height: auto;

}
#award{
    display: flex;
    justify-content: space-around;
    background-color:  #4A2B33;
     color:#D27487;
     height: 460px;
     align-items: center;
}
#award p{
    width: 200px;
    font-size: 18px;
}
#award h1{
    width: 400px;
    font-size: 47px;
}
footer{
    height: 200px;
    text-align: center;
    padding-top: 50px;
}